@media screen and (max-width: 1024px){
.container{
    padding: 0 1em;
}
}
@media screen and (max-width: 768px){
.header{
    display: block;
    height:auto;
}
.header ol{
    display: initial;
}
.header ol li{
    height: 50px;
}
.header a{
    justify-content: center;
}
.header .logo{
    text-align: center;
}
.project {
    display: block;
}
.project-imageContainer{
    width: auto;
    text-align: center;
}
.project-details{
    width: auto;
    /* font-size: 16px; */
}
.project-course, .project-date, .project-url{
    margin: .4em 0;
}
.project-title{
    font-size: 1.5em;
    margin-bottom: .3em;
}
.project-url{
    font-size: 1em;
}
.project-course{
    font-size: .9em;
}
.project-date{
    font-size: 1em;
}
.project-description{
    font-size: 1em;
}
.event{
    width: auto;
    flex-shrink: initial;
}
.event img{
    width: 100%;
}
.event-details{
    margin: -2.3em .5em .5em;
    padding: 1em;
}
}
@media screen and (max-width: 480px){
    .project-details{
        font-size: 12px;
    }
    .event-details{
        margin: -2.3em .5em .5em;
        padding: 1em;
    }
.contact{
    height: auto;
    padding: 1.5em .5em;
    text-align: center;
    display: block;
}
.form-email button{
    margin: 1em auto;
}
.form-email h3{
    margin-top: 0;
}
.footer{
    display: block;
    text-align: center;
    border: 1px solid transparent;
}

}
@media screen and (max-width: 320px){

}
